{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "@plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommanded",
    "plugin:@typescript-eslint/eslint-recommanded",
    "plugin:@typescript-eslint/recommand"
  ]
}